
/* Importa a fonte "Inter" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset (zera os valores) */
* {
    box-sizing: border-box;
}

/* html {} */

body {
    margin: 0;
    /* color: blue; */
    font-family: "Inter", sans-serif;
    /* line-height: 1.5; */
}

a {
    /* Herda o valor do elemento pai */
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
}

a:hover {
    color: #ff5a52;
}

/* img {
    display: block;
    max-width: 100%;
} */


/* CABEÇALHO */
.logo {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
}

.logo a {
    display: flex;
    gap: 12px;
}

.logo img {
    width: 64px;
}

.logotipo {
    color: #081b33;
    font-size: 48px;
    font-weight: 900;
}

/* .marca-texto span */
.logotipo span {
    color: #ff5a52;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.barra-navegacao {
    border-top: solid 1px #dce2ea;
    border-bottom: solid 1px #dce2ea;
    color: #667286;
    font-size: 14px; /* padrão 16px */
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 28px; */
}

header ul {
    margin: o;
    padding: 0;
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 28px;
    /* flex-wrap: wrap; */
}

header nav a {
    padding: 16px 0 12px;
    /* display: block; */
    border-bottom: solid 4px transparent;
    font-weight: 700;
}

header nav a:hover,
a.atual {
    border-bottom-color: #ff5a52;
}

.botao-assinar {
    color: #ffffff;
    background-color: #ff5a52;
    border: solid 2px #ff5a52;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    /* text-align: center; */
    padding: 8px 24px;
    /* display: inline-block; */
}

.botao-assinar:hover {
    color: #ff5a52;
    background-color: inherit;
}


/* HERO */
.hero {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    gap: 32px;
}

.hero-principal {
    width: 68%;
    min-height: 530px;
    display: flex;
    align-items: flex-end;
    
    /* Imagem de fundo */
    background-image:
        linear-gradient(
            to top,
            rgba(8, 27, 51, 0.96),
            rgba(8,27,51,0.05)),
            url("../assets/cidade.jpg");
    background-position: center;
    background-size: cover;
}

.hero-conteudo {
    max-width: 760px;
    padding: 44px;
    color: #ffffff;
}

.hero-conteudo h1 {
    margin: 12px 0 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    line-height: 1.02;
}

.hero-resumo {
    max-width: 720px;
    margin-bottom: 22px;
    color: #e6ecf4;
    font-size: 18px;
}

.hero-info {
    margin: 0;
    color: #c7d2df;
    font-size: 14px;
}

.em-destaque {
    width: 32%;
}

.cabecalho-destaque {
    padding-bottom: 14px;
    border-bottom: solid 1px #dce2ea;
}

.cabecalho-destaque h2 {
    margin: 0;
    color: #081b33;
    font-size: 14px;
    text-transform: uppercase;
}

.destaque-lateral {
    padding: 28px 0;
    border-bottom: solid 1px #dce2ea;
}

.destaque-lateral h3 {
    margin: 8px 0 12px;
    color: #081b33;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.15;
}

.destaque-lateral span {
    color: #8994a5;
    font-size: 12px;
}


/* SECTIONS */
section {
    padding: 96px 0;
}

.sobre-titulo,
.categoria {
    margin: 0 0 8px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sobre-titulo {
    color: #2487ff;
}

.categoria {
    color: #ff44a8;
}

.categoria.categoria-azul {
    color: #2487ff;
}

.categoria.categoria-verde {
    color: #009a2e;
}

.titulo-secao {
    margin: 0 0 38px;
    padding-bottom: 20px;
    border-bottom: solid 2px #081b33;
    color: #081b33;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
}

.destaques {
    display: flex;
    gap: 28px;
}

.noticia-destaque {
    width: 33.33%;
    border-bottom: solid 1px #dce2ea;
}

.noticia-destaque img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.conteudo-noticia {
    padding: 20px 0;
}

.noticia-destaque h3,
.card-noticia h3 {
    margin: 0 0 12px;
    color: #081b33;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.noticia-destaque h3 {
    font-size: 26px;
    line-height: 1.15;
}

.resumo {
    margin: 0 0 18px;
    color: #667286;
}

.info-noticia {
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    color: #8994a5;
    font-size: 14px;
}

article a {
    color: #081b33;
    font-weight: 800;
}


/* ASSINE O BUENAS NEWS+ */
.secao-assinatura {
    background-color: #121b27;
    color: #ffffff;
}

.assinatura-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.assinatura-texto {
    max-width: 690px;
}

.assinatura-texto h2 {
    margin: 6px 0 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    line-height: 1.1;
}

.assinatura-texto p {
    margin: 0 0 18px;
    color: #c5d2e2;
}

p.beneficios {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.assinatura-oferta {
    min-width: 270px;
    text-align: center;
}

.preco {
    font-size: 36px;
    font-weight: 700;
}

.assinatura-oferta .botao-assinar {
    min-width: 210px;
}

.cancelamento {
    margin: 10px 0 0;
    color: #9eb6d5;
    font-size: 12px;
}



/* TESTES */
header {
    /* background-color: #8cb3b4; */
    height: 200px;
}

main {
    /* background-color: #cff0ff; */
    min-height: 500px;
    /* border: solid 2px red; */
}

footer {
    background-color: #515151;
    height: 200px;
}
